<div class="LoginContent">
    <div class="Logo">Document<span>Office</span></div>
    <p class="z">otwórz dokumenty</p>
    <div class="form">
        <label class="labelc">Adres E-mail</label>
        <input type="text" #tLo/>
    </div>
    <div class="form">
        <label class="labelc">Hasło</label>
        <input type="password" #tHa/>
    </div>
    <div class="bZal">
        <button class="bTwo">utwórz konto</button>
        <button (click)="testLogin()">zaloguj się</button>
    </div>
</div>
