<div class="dashboardContent">
    <app-nav-menu>
        <div class="Logo">Document<span>Office</span></div>
        <app-search-box srcImageSearch="../../assets/search-icon-32x32-2-min.svg" 
                        srcImageCancelSearch="../../assets/cancel-icon-32x32.svg"></app-search-box>
    </app-nav-menu>
    
    <div class="templatesDocs">
        <div class="templatesDocs_tD">
            <span>utwórz nowy dokument</span>
            <button>Galeria szablonów</button>
            <div class="separator"></div>
            <button class="optionButton"><img src="../../assets/option-icon.svg" alt="option_icon"></button>
        </div>
        <div class="templateList">
            <div class="templateItem">
                <div class="templateIcon"></div>
                <div class="templateLabel">Pusty</div>
            </div>
            <div class="templateItem">
                <div class="templateIcon"></div>
                <div class="templateLabel">Życiorys</div>
                <span>Szeryfowy</span>
            </div>
            <div class="templateItem">
                <div class="templateIcon"></div>
                <div class="templateLabel">Życiorys - koralowiec</div>
                <span>Koralowiec</span>
            </div>
            <div class="templateItem">
                <div class="templateIcon"></div>
                <div class="templateLabel">Mięta</div>
                <span>Mięta</span>
            </div>
            <div class="templateItem">
                <div class="templateIcon"></div>
                <p class="templateLabel">Propozycja projektu</p>
                <span>Tropiki</span>
            </div>
        </div>
    </div>
    <div class="lastDocs">
        <span>Ostatnie dokumenty</span>
        <app-choose-field></app-choose-field>
        <div class="buttonOp">
            <button><img src="../../assets/list-icon-min.svg" alt="list_icon"></button>
            <button><img src="../../assets/sort-icon-min.svg" alt="sort_icon"></button>
            <button>Wp</button>
        </div>
    </div>
    <app-file-list>
        <app-file-list-item fName="Mały plik"></app-file-list-item>
        <app-file-list-item fName="Skorpion"></app-file-list-item>
    </app-file-list>
</div>
